<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hydromon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_hydromon_logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_hydromon_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hydromon">
        <activity
            android:name=".PerVariableHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".EnterCodeViewerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivityViewer"
            android:exported="false"
            android:label="@string/title_activity_main_viewer" />
        <activity
            android:name=".MainActivityOwner"
            android:exported="false"
            android:label="@string/title_activity_main_viewer" />
        <activity
            android:name=".signuphydroponics.SignUpHydroponicsActivity"
            android:exported="false" />
        <activity
            android:name=".HydroponicsHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseRoleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.authentication.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>